@font-face {
    font-family: 'Outfit-Bold', sans-serif;
    src:
    local('Outfit-Bold'),
    url('./fonts/Outfit-Bold.woff2') format('woff2'),
    url('./fonts/Outfit-Bold.woff') format('woff'),
    url('./fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit-Regular', sans-serif;
    src:
    local('Outfit-Regular'),
    url('./fonts/Outfit-Regular.woff2') format('woff2'),
    url('./fonts/Outfit-Regular.woff') format('woff'),
    url('./fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Outfit-Regular';
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #D5E1EF;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
    height: 100vh;
    text-align: center;
}
img {
    vertical-align: top;
}
/*
 ██████   ██████   █████████   █████ ██████   █████
▒▒██████ ██████   ███▒▒▒▒▒███ ▒▒███ ▒▒██████ ▒▒███
 ▒███▒█████▒███  ▒███    ▒███  ▒███  ▒███▒███ ▒███
 ▒███▒▒███ ▒███  ▒███████████  ▒███  ▒███▒▒███▒███
 ▒███ ▒▒▒  ▒███  ▒███▒▒▒▒▒███  ▒███  ▒███ ▒▒██████
 ▒███      ▒███  ▒███    ▒███  ▒███  ▒███  ▒▒█████
 █████     █████ █████   █████ █████ █████  ▒▒█████
▒▒▒▒▒     ▒▒▒▒▒ ▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒    ▒▒▒▒▒
*/
.card {
    width: 320px;
    height: 499px;
    padding-left: 16px; 
    padding-top: 16px; 
    padding-right: 16px; 
    padding-bottom: 40px; 
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    border: 0px;
    border-radius: 20px;
    /* margin: clamp(10.43rem, 8.6906rem + 6.9577vw, 15.37rem) clamp(1.83rem, -10.6594rem + 49.9577vw, 37.3rem); */
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
}
.pic {
    width: 288px;
    height: 288px;
}
.pic_qr {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    border: 0px;
}
.block {
    width: 288px;
    height: 131px;
    padding: 0px 16px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.title {
    color: #1F314F;
    font-family: 'Outfit-Bold';
    font-size:22px ;
    line-height: 120%;
    letter-spacing: 0px;
    width: 256px;
    height: 52px;
}
.des {
    color: #68778D;
    width: 256px;
    height: 63px;
}
